#hero--form {
  display: grid;
  place-items: center;
}

#hero--form form {
	display: flex;
	flex-direction: column;
	min-width: 460px;
	border: 1px solid var(--grey);
  border-radius: var(--border_radius);
}

#hero--form input {
	min-width: 460px;
	height: 60px;
	padding-left: var(--form_left_padding);
	border: none;
	border-bottom: solid 1px var(--grey); 
  background: var(--form_transparent_bg);
  box-shadow: var(--form_box_shadow);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(2.5px);
	font-family: "Roboto", sans-serif;
  font-size: 18px;
	font-weight: 400;
  color: var(--white);
}

#password_container {
  position: relative;
}

#password_container svg.eye {
  position: absolute;
  right: 20px;
  top: 25%;
  fill: var(--grey);
}

#password_container rect.btn {
  /* This element is what is actually being clicked to toggle between the two eye SVGs. */
  stroke: var(--grey);
  fill: var(--grey);
  fill-opacity: 0;
  stroke-opacity: 0;
}

#hero--form button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center ;
  height: 60px;
	border: none;
  border-radius: var(--button_border_radius);
  background-color: var(--blue);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--white);
  cursor: pointer;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}


#hero--form button:hover {
  background: var(--button_hover);
}

/* Right arrow SVG next to "Sign Up". */
#hero--form button img {
  width: 12px;
  filter: invert(100%);
  transform: translateY(1px);
  transition: all .5s ease-in-out;
}

/* Enlarge and move right arrow to right on hover. */
#hero--form button:hover img {
  width: 20px;
  transform: translateX(30px);
}


@media screen and (min-width: 0px) and (max-width: 500px) 
{
  #hero--form form {
    /* Resize form to prevent it from running flash against viewport. */
  min-width: initial;
  width: 90vw;
  }

  #hero--form input {
    min-width: initial;
    width: 100%;
  }
  }