/* #region Self-Hosted Fonts - "Roboto" (Roboto) */

/*  See https://fonts.google.com/specimen/Roboto */

@font-face {
	font-family: "Roboto";
	src: url(../../src/fonts/Roboto-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
  }

  @font-face {
	font-family: "Roboto";
	src: url(../../src/fonts/Roboto-Medium.ttf) format("truetype");
	font-weight: 500;
	font-style: normal;
  }

  @font-face {
	font-family: "Avenir Substitute";
	src: url(../../src/fonts/Montserrat-SemiBold.ttf) format("truetype");
	font-weight: 600;
	font-style: normal;
  }
  
 /* #endregion Self-Hosted Fonts - "Candy Cane" (Candy Cane Unregistered) */
